@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
</div>

<div class="subNav">
    <h2>Check out some dishes!</h2>
    <h4><a asp-controller="Home" asp-action="AddDish">Add a Dish</a></h4>
</div>


<div class="list">
    @{
        foreach (Dish dish in Model)
        {
            <p><a asp-controller="Home" asp-action="Read"></a></p>
        }
    }

</div>