@model Category

<form asp-action="CategoryCreate" asp-controller="Home" method="POST">
    <div class="d-flex mb-4 mt-5" class="form-group">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name"></label>
        <input name="Name" class="form-control" asp-for="Name">
    </div>
    <button id="submit" class="btn btn-success mt-4" type="submit">SUBMIT!</button>
</form>