<h1>Hello!</h1>


<div class="d-flex justify-content-evenly">
    <div>
        <partial name="_Register"></partial>
    </div>
    <div class="mt-4">
        <partial name="_login"></partial>
    </div>

</div>