<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mvcpractice</title>
</head>

<body>
    <h1>Hello There</h1>
    <!-- html/head tags removed for brevity -->

    <h3><a href="/hello">Howdy</a></h3>
    <div>
        @{
            string[] nomnoms = { "Chicken nuggies", "Twizzlers", "Spaghettios", "A huge ass turkey leg" };


            foreach (string nomnom in nomnoms)
            {

                if (nomnom.StartsWith("C"))
                {
                    <p style="color: red;">@nomnom</p>
                }
                else
                {
                    <p>@nomnom</p>
                }

            }
        }
    </div>
</body>



</html>